<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIT</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/notas/modificarNota" method="POST">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">TARGETA</h1>
                    </div>
                    <div class="card-body">
                        
                        <!--TARGETA DE NOTA-->
                        <div class="card-body justify-content-cente">
                            <div class="row row-cols-12 row-cols-md-8 g-4 aling-center">
                                <div class="col aling-center">
                                  <div class="card ">
                                    <img src="img5.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title  text-center">Descripción</h5>                                                            
                                      <input type="hidden" name="id" id="id" value="<%= not._id%>">
                                      <textarea class="form-control text-center" type="text-center"  name="notaModificar" id="notaModificar" cols="30" rows="10" placeholder="EDITAR NOTA" value="<%= not.nota%>"></textarea>                                
                                    </div>
                                  </div>
                                </div>
                            </div>
                        <!--FIN TARGETA DE NOTA-->
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-success form-control mb-3" type="submit">EDITAR Descripción</button>
                        <a class="btn btn-info col-12 " href="principal.html" >CANCELAR</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="2"></div>
    </div>
</body>
</html>