body{
   background: linear-gradient(55deg, rgb(0 0 0 / 76%), rgb(6 6 6 / 47%), rgb(0 0 0 / 67%), rgb(80 5 81));
   padding: 0;
   margin: 0;
   height: 96.5vh;
}

.card{
   display: flex;
   direction: row;
   align-items: center;
   align-content: center;
   flex-direction: column;
}